# Node
node_modules/
dist/
pnpm-lock.yaml

# Logs
*.log

# IDE
.vscode/
.idea/

# e2e
/e2e/mpx-demo/node_modules/
/e2e/mpx-demo/dist/
/e2e/mpx-demo/bundle-rules.json
/e2e/mpx-demo/impact-report.json
/e2e/mpx-demo/pnpm-lock.yaml
/e2e/mpx-demo/.DS_Store

# System
.DS_Store
Thumbs.db

# Test
coverage/